{{ form_start(form) }}

<label>Название</label>
<div class="form-group">
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<label>Описание</label>
<div class="form-group">
    {{ form_widget(form.description) }}
    {{ form_errors(form.description) }}
</div>

<label>Код</label>
<div class="form-group">
    {{ form_widget(form.code) }}
    {{ form_errors(form.code) }}
</div>
<label>Тип курса</label>
<div class="form-group">
    {{ form_widget(form.type) }}
    {{ form_errors(form.type) }}
</div>
<label>Стоимость</label>
<div class="form-group">
    {{ form_widget(form.cost) }}
    {{ form_errors(form.cost) }}
</div>
<button id="AddCourse" class="btn btn-primary btn-lg">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
