{{ form_start(form) }}
<label>Название</label>
<div class="form-group">
    {{ form_widget(form.name) }}
    {{ form_errors(form.name) }}
</div>

<label>Содержание</label>
<div class="form-group">
    {{ form_widget(form.content) }}
    {{ form_errors(form.content) }}
</div>

<label>Номер</label>
<div class="form-group">
    {{ form_widget(form.number) }}
    {{ form_errors(form.number) }}
</div>
<button id="AddLesson" class="btn btn-primary btn-lg">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
