{% extends 'base.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
    <h1>{{ lesson.name }}</h1>
    <div class="d-flex mt-3 mb-4">
        Курс:&nbsp<a href="{{ path('course_show', {'id': lesson.course.id}) }}">
            {{ lesson.course.getName }}
        </a>
    </div>
    <div class="row">
        <a href="{{ path('lesson_edit', {'id': lesson.id}) }}" class="LessonEdit btn btn-secondary btn-lg mx-3">Редактировать</a>
        {{ include('lesson/_delete_form.html.twig') }}
    </div>
    <hr/>
    <div class="card">
        <div class="card-header">
            Описание
        </div>
        <div class="card-body">
            {{ lesson.content }}
        </div>
    </div>
{% endblock %}
