<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            StudyOn
        </a>
        <div class="auth">
            <a class="course_index btn btn-secondary btn-lg mx-3" href="{{ path('course_index') }}"> главная</a>
            {% if app.user %}

                <a class="profile btn btn-secondary btn-lg mx-3" href="{{ path('profile') }}"> профиль</a>
                <a class="lessonShow btn btn-secondary btn-lg mx-3" href="{{ path('app_logout') }}"> выход</a>

            {% else %}
                <a class="register btn btn-secondary btn-lg mx-3" href="{{ path('register') }}">регистрация</a>
                <a class="lessonShow btn btn-secondary btn-lg mx-3" href="{{ path('app_login') }}"> вход</a>
            {% endif %}

        </div>
    </nav>

    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
{% endblock %}
</body>
</html>
